name: CI - Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.meta.outputs.tag }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        id: meta
        run: |
          TAG=$(date +%s)
          docker build -t ${{ secrets.DOCKER_USERNAME }}/strapi:$TAG .
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/strapi:${{ steps.meta.outputs.tag }}

